config/database.php
config/core.php
config/vars.php
certs/*
tmp/cache/*
tmp/cache/models/*
tmp/cache/persistent/*
tmp/cache/views/*
tmp/tests/*
tmp/sessions/*
tmp/logs/*
plugins/debug_kit/*
webroot/files/**/*
!empty
!.gitignore
*~
