/* 
    Document   : yzk-cmp
    Created on : Mar 7, 2011, 9:06:43 PM
    Author     : kondratyev
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


.cmp-client{
    border-bottom: 1px solid #eee;
    position: relative;
    padding-bottom: 4px;
}
.cmp-clientActive{
    color: goldenrod;
    background-color: SeaShell;
}
.cmp-modes{
    float: left;
    position: absolute;
    top: 25px;
    left: -10px;
    
    border: 2px solid gray;
    background-color: goldenrod;
    padding: 1em;
        
    z-index: 1000;
}
.cmp-edit, .cmp-delete{
    background-color: #6299C5;
    border: 1px solid RosyBrown;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}
.cmp-clientActive .cmp-edit{
    background-color: goldenrod;
}
.cmp-edit:hover{
    color: green;
}
.cmp-delete:hover{
    color: #ff9999;
    background-color: #ff0033;
}
.cmp-xspan{
    color: #fff;
    font-weight: bold;
}
.cmp-xinput{
    width: 2em;
}
.cmp-save, .cmp-close {
    background-color: Silver;
    border: 1px solid gray;
    color: gray;
    padding: 0 3px;
    cursor: pointer;
}
.cmp-save:hover, .cmp-close:hover{
    color: black;
}
.cmp-modeStr{
    font-weight: bold;
    color: #2A801B;
}
.cmp-setModeBtn{
    cursor: pointer;
}

