/* 
    Document   : yzk-clt
    Created on : 17.02.2011, 16:34:07
    Author     : akv
    Description:
        clents page style sheet
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.clt-client{
    border-bottom: 1px solid #fff;
    
}
.clt-clientHgl{
   background-color: #eee;
   border-bottom: 1px solid #ccc;
}
.clt-loader{
    height: 200px;
    width: 200px;
    text-align: center;
}
.clt-clientListWrp{
   position: relative; 
}
.clt-cltRegWrp{   
    float:left;
    padding: 10px;
}
.clt-clientAct{
    border: 1px solid;
    background-color: #ccc;
}
input.clt-inputEmail{
    margin: 0;
    padding: 0;
}
.clt-cltRegBtn{
    background-color: #205791;
    color: wheat;
    float: left;
    font-weight: bold;
    padding: 2px 5px;
}

